nav ul a,
nav .brand-logo {
  color: #444;
}
nav a {
  color: #444;
}
.blog a {
  color: #ffab40;
}
.comments-section a {
  color: #ffab40;
}

.card-action .col {
  padding: 0;
}
.blog-column-container .card-action .card-social-share a:not(.btn):not(.btn-large):not(.btn-floating) {
  margin-right: 0;
  margin-left: 15px;
}
.blog-meta-wrapper .single-post-date {
  color: rgba(0,0,0,0.57);
}
.disqus-comment-count {
  margin-left: 5px;
}
.card-subtitle {
  margin-bottom: 16px;
}


/* Forcing card image to display in 16:9 format */
.blog-column-container .card.small .card-image, .card.medium .card-image, .card.large .card-image {
  max-height: 46%;
}
.blog-column-container .card.small .card-image+.card-content, .card.medium .card-image+.card-content, .card.large .card-image+.card-content {
  max-height: 54%;
}

/* Making social links bigger and giving them more space between each other */
.blog-content .social-share a {
  margin-left: 15px;
  font-size: 24px;
}

/* Reseting margins and making images scale on mobile devices */
.blog-content .center img {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.promo-caption {
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0;
}

.blog-content {
  color: rgba(0,0,0,0.87);
  line-height: 1.6;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

.player-name {
  white-space: nowrap;
}